<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to Ovak Passenger Seat's web site</div>
            <div class="intro-heading">We're ready to secure your passenger!</div>
            <a href="#features" class="page-scroll btn btn-xl">Tell Me More</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSehqJJR89WQz0RoOMFSr1me-f8aRVOde46XC-lp7qTWOUeUIg/viewform?usp=sf_link"
                class="btn btn-xl">I'm interested, let me fill out a survey!</a>
        </div>
    </div>
</header>