<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenue sur le site Web du siège passager Ovak</div>
            <div class="intro-heading">Nous sommes prêts à sécuriser votre passager!</div>
            <a href="#features" class="page-scroll btn btn-xl">Dites-m'en plus!</a>
            <a href="{{ site.data.urls.survey.fr }}" class="btn btn-xl">Je suis intéressé, laissez moi remplir un sondage!</a>
        </div>
    </div>
</header>
